$radius : 15px;

@mixin block {
  background-color: $secondary;
  padding: 1vw 1vh;
  border-radius: $radius;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

//Todolist
.blockList {
  @include block;
  grid-column: 1/ span 3;
  grid-row: 2 / span 13;
  max-height: 70vh;
}

.blockCalendar {
  @include block;
  grid-column: 1/ span 3;
  grid-row: 15/ span 3;
  max-height: 25vh;


}

//Notes
.notesCarouselOut {
  @include block;
  grid-column: 4 / span 15;
  grid-row: 15/ span 3;
  display: flex;
  align-items: stretch;
  max-height: 25vh;

}

.notesCarouselIn {
  height: 100%;
  border-radius: $radius;
  flex: 1;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}

.noteThumbnails {
  @include block;
  display: inline-flex;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: $neutral;
}

.noteThumbnailsContent {
  flex: 1;
}