.blockCalendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


//  .calendar {
//  //background-color: #0D1114;
//  //display: flex;
//  width: 100%;
//  border-collapse: collapse; /* Fusionne les bordures des cellules */
//
//  //justify-content: space-between
//}
//.calendarRaw {
//  //background-color: #0D1114;
//  border-collapse: collapse; /* Fusionne les bordures des cellules */
//
//  //display: flex;
//  //justify-content: space-between
//}