.formulaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.listItems {
  flex : 1;
  white-space: break-spaces;
  hyphens: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory
}

.item {
  scroll-snap-align: center;
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  word-wrap: break-word; /* allow long words to break across lines */
  white-space: break-spaces; /* allow text to wrap to the next line */
  hyphens: auto; /* or 'manual' or 'none' */
  margin: 1vh 0;

  .content {
    overflow: auto;
  }
}

.listItemInput{
  background-color: unset;
  border: none;
  box-shadow: none;
}
.listItemInput:focus {
  outline: none;
}