// Switch
$switchBordure: 3px;
* {
  transition: all 0.2s ease;
}
.switch {
  height: 30px;
  aspect-ratio: 9/5;
  background: $primary;
  display: flex;
  //justify-self: center;
  border: $switchBordure solid $primary;
  border-radius: 50px;
  align-self: center;
  justify-self: end;
  align-items: center;
  transform: translateX(0); /* Position initiale */
  grid-column: 18 / span 1;
  grid-row: 1;


  .round {
    height: 90%;
    aspect-ratio: 1/1;
    background: $secondary;
    border-radius: 50%;
    transition: transform 0.35s ease; /* Ajout de la transition */
    transform: translateX(0); /* Position initiale */
  }
  .round:hover {
    background: $secondaryBis;
  ;
  }
}
.selfRight .round {
  transform: translateX(calc(100% + $switchBordure));  /* + 3px correspond à la largeur de la bordure */
}

