@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import "../01-Color/colors";

.tilte1 {
  font-family: 'Rubik Mono One', monospace;
  font-size: 1.5rem;
  color : $primary;
  margin-bottom: 3px;
  
}

.tilte2 {
  font-family: 'Rubik Mono One', monospace;
  font-size: 1rem;
  color : $primary;
  margin-top: 5px;
  margin-bottom: 3px;

}

.todo {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 3px;
}

.note {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 3px;
}





