@import './colorTheme';

// Utilisation des variables dans ton code SCSS

$backgroundColor: var(--black);
$grey: var(--grey);
$textColor: var(--white);
$white: var(--white);

$red: var(--red);
$purple: var(--purple);
$purpleDark: var(--purpleDark);
$pink: var(--pink);
