@import './colorTheme';

// Utilisation des variables dans ton code SCSS
// By use
$backgroundColor: var(--white);
$textColor: var(--black);

$neutral: var(--neutral);
$primary : var(--primary);
$secondary : var(--secondary);
$secondaryBis: var(--secondaryBis);
$tertiary : var(--tertiary);

//ddd


// By color
$white: var(--white);
$grey: var(--grey);
$red: var(--red);
$purple: var(--purple);
$purpleDark: var(--purpleDark);
$pink: var(--pink);
