@media (prefers-color-scheme: light) {
    :root {
        --black: #0D1114;
        --grey: #1F2426;
        --white: #FAFAFA;
        --red: #ED4C67;
        --purple: #B53471;
        --purpleDark: #833471;
        --pink: #FDA7DF;
    }
    [data-them='light'] {
        --black: #0D1114;
        --grey: #1F2426;
        --white: #FAFAFA;
        --red: #ED4C67;
        --purple: #B53471;
        --purpleDark: #833471;
        --pink: #FDA7DF;
    }
    [data-theme='dark'] {
        --black: #FAFAFA;
        --grey: #1F2426;
        --white: #0D1114;
        --red: #ED4C67;
        --purple: #B53471;
        --purpleDark: #833471;
        --pink: #FDA7DF;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --black: #FAFAFA;
        --grey: #1F2426;
        --white: #0D1114;
        --red: #ED4C67;
        --purple: #B53471;
        --purpleDark: #833471;
        --pink: #FDA7DF;
    }


    [data-them='dark'] {
        --black: #0D1114;
        --grey: #1F2426;
        --white: #FAFAFA;
        --red: #ED4C67;
        --purple: #B53471;
        --purpleDark: #833471;
        --pink: #FDA7DF;
    }
    [data-theme='light'] {
        --black: #FAFAFA;
        --grey: #1F2426;
        --white: #0D1114;
        --red: #ED4C67;
        --purple: #B53471;
        --purpleDark: #833471;
        --pink: #FDA7DF;
    }
}