@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
@media (prefers-color-scheme: light) {
  :root {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
}
/* Path: src/style/01-Color/colorTheme.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--white);
}

.App {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  background-color: var(--white);
  font-family: "Noto Sans", Arial, sans-serif;
  color: var(--black);
  padding: 2vh 2vw;
  gap: 1vh 1vw;
}

* ::-webkit-scrollbar {
  display: none;
}

.test {
  background: red;
  width: 50px;
  aspect-ratio: 1/1;
}

.none {
  display: none;
}

.spacer {
  flex-basis: 10%;
  aspect-ratio: 1/1;
  flex: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
}
/* Path: src/style/01-Color/colorTheme.css */
@media (prefers-color-scheme: light) {
  :root {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
}
/* Path: src/style/01-Color/colorTheme.css */
.tilte1 {
  font-family: "Rubik Mono One", monospace;
  font-size: 1.5rem;
  color: var(--primary);
  margin-bottom: 3px;
}

.tilte2 {
  font-family: "Rubik Mono One", monospace;
  font-size: 1rem;
  color: var(--primary);
  margin-top: 5px;
  margin-bottom: 3px;
}

.item {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 3px;
}

.note {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 3px;
}

.dayName {
  font-size: 0.6rem;
  text-transform: uppercase;
}

.color {
  color: var(--primaryBis);
}

.listItemInput {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: 600;
  color: var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
}
/* Path: src/style/01-Color/colorTheme.css */
button {
  background: var(--primary);
  color: var(--white);
  font-family: "Rubik Mono One", monospace;
  margin: 0;
  padding: 6px;
  border-radius: 10px;
  border: none;
  transition: all 0.25s ease;
}

button:hover {
  background: var(--secondaryBis);
}

button:active {
  background: var(--purple);
}

.noteButtonArea {
  grid-column: 2;
  grid-row: 3;
  align-self: self-end;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteSendButton {
  width: 50%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
}
/* Path: src/style/01-Color/colorTheme.css */
.checkbox input[type=checkbox] {
  display: none;
}

.checkbox label {
  position: relative;
  padding-left: 30px; /* Ajustez cet espace pour le style de votre case à cocher */
  cursor: pointer;
}

.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 10px; /* Ajustez la taille de votre case à cocher */
  aspect-ratio: 1/1;
  border: 3px solid var(--primary); /* Couleur de la bordure de la case à cocher */
  border-radius: 50%; /* Bordure arrondie */
  background-color: unset;
}

.checkbox input[type=checkbox]:checked + label:before {
  background-color: var(--primary);
}

.checkbox label:after {
  content: "";
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  border: 2px solid var(--secondary);
  border-radius: 50%;
  display: none;
  left: 1px;
  top: 2px;
}

.checkbox input[type=checkbox]:checked + label:after {
  display: block;
}

.noteThumbnailsCheckbox {
  position: relative;
}

.noteThumbnailsCheckbox input[type=checkbox] {
  visibility: hidden;
}

.noteThumbnailsCheckbox input[type=checkbox] + label::before,
.noteThumbnailsCheckbox input[type=checkbox] + label::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--primary);
  position: absolute;
  top: 6%;
  right: 0%;
}

.noteThumbnailsCheckbox input[type=checkbox] + label::before {
  transform: rotate(45deg);
}

.noteThumbnailsCheckbox input[type=checkbox] + label::after {
  transform: rotate(-45deg);
}

.noteThumbnailsCheckbox input[type=checkbox]:hover + label::before,
.noteThumbnailsCheckbox input[type=checkbox]:hover + label::after {
  background-color: var(--primaryBis);
}

.noteThumbnailsCheckbox input[type=checkbox]:active + label::before,
.noteThumbnailsCheckbox input[type=checkbox]:active + label::after {
  background-color: var(--secondary);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    --black: #FAFAFA;
    --grey: #1F2426;
    --white: #0D1114;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #1F2426;
    --primary: #F6FDFF;
    --primaryBis: #B8DCE6 ;
    --secondary: #ED4C67;
    --secondaryBis: #C94057 ;
    --tertiary: #FDA7DF;
  }
  [data-theme=alter] {
    /* Color */
    --black: #0D1114;
    --grey: #1F2426;
    --white: #FAFAFA;
    --purple: #B53471;
    --purpleDark: #833471;
    /* Element */
    --neutral: #ffffff;
    --primary: #ED4C67;
    --primaryBis: #C94057 ;
    --secondary: #F6FDFF;
    --secondaryBis: #B8DCE6 ;
    --tertiary: #FDA7DF;
  }
}
/* Path: src/style/01-Color/colorTheme.css */
.logo {
  grid-column: 1/span 5;
  grid-row: 1;
  justify-self: start;
  align-self: center;
}

* {
  transition: all 0.2s ease;
}

.switch {
  height: 30px;
  aspect-ratio: 9/5;
  background: var(--primary);
  display: flex;
  border: 3px solid var(--primary);
  border-radius: 50px;
  align-self: center;
  justify-self: end;
  align-items: center;
  transform: translateX(0); /* Position initiale */
  grid-column: 18/span 1;
  grid-row: 1;
}
.switch .round {
  height: 90%;
  aspect-ratio: 1/1;
  background: var(--secondary);
  border-radius: 50%;
  transition: transform 0.35s ease; /* Ajout de la transition */
  transform: translateX(0); /* Position initiale */
}
.switch .round:hover {
  background: var(--secondaryBis);
}

.selfRight .round {
  transform: translateX(calc(100% + 3px)); /* + 3px correspond à la largeur de la bordure */
}

.formulaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.listItems {
  flex: 1;
  white-space: break-spaces;
  hyphens: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.item {
  scroll-snap-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  word-wrap: break-word; /* allow long words to break across lines */
  white-space: break-spaces; /* allow text to wrap to the next line */
  hyphens: auto; /* or 'manual' or 'none' */
  margin: 1vh 0;
}
.item .content {
  overflow: auto;
}

.listItemInput {
  background-color: unset;
  border: none;
  box-shadow: none;
}

.listItemInput:focus {
  outline: none;
}

.champText {
  background: var(--neutral);
  color: var(--red);
  font-family: "Noto Sans", Arial, sans-serif;
  padding: 3px 10px;
  border-radius: 10px;
  border: 3px solid rgba(var(--red), 1);
  flex: 1;
}

.champText:focus {
  outline: none; /* Supprime le contour bleu */
}

.champText::placeholder {
  color: var(--red);
}

.noteArea {
  grid-column: 4/span 15;
  grid-row: 2/span 13;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.notefield {
  padding: 2vh 2vw;
  text-align: left;
  vertical-align: top;
  resize: none;
  width: 100%;
  height: 100%;
  grid-column: 1/span 3;
  grid-row: 1/span 3;
}

.blockList {
  background-color: var(--secondary);
  padding: 1vw 1vh;
  border-radius: 15px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  grid-column: 1/span 3;
  grid-row: 2/span 12;
  display: flex;
  flex-direction: column;
}

.blockCalendar {
  background-color: var(--secondary);
  padding: 1vw 1vh;
  border-radius: 15px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  grid-column: 1/span 3;
  grid-row: 14/span 5;
}

.notesCarouselOut {
  background-color: var(--secondary);
  padding: 1vw 1vh;
  border-radius: 15px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  grid-column: 4/span 15;
  grid-row: 15/span 4;
  overflow: hidden;
}

.notesCarouselIn {
  border-radius: 15px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 200px);
  overflow-x: scroll;
  gap: 1.6vh;
  scroll-snap-type: y mandatory;
}

.noteThumbnails {
  scroll-snap-align: start;
  width: 200px;
  grid-row: 1;
  background-color: var(--secondary);
  padding: 1vw 1vh;
  border-radius: 15px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-align: start;
  background-color: var(--neutral);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: top;
  justify-content: center;
}

.noteThumbnailsContent {
  flex: 1;
}

.blockCalendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=app.css.map */
