@import "../00-Global/colors";
// Go
button {
  background: $primary;
  color: $white;
  font-family: "Rubik Mono One", monospace;
  margin: 0;
  padding: 6px;
  border-radius: 10px;
  border: none;
  transition: all 0.25s ease;
}

button:hover {
  background: $secondaryBis;
}

button:active {
  background: $purple;
}


.sendNoteButton {
  width: 50%;
}