@import "../00-Global/colors";
// Rappel
.todo {
  display: flex;
  align-items: center;
  justify-content: start;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox label {
  position: relative;
  padding-left: 30px; /* Ajustez cet espace pour le style de votre case à cocher */
  cursor: pointer;
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 10px; /* Ajustez la taille de votre case à cocher */
  aspect-ratio: 1/1;
  border: 3px solid $primary; /* Couleur de la bordure de la case à cocher */
  border-radius: 50%; /* Bordure arrondie */
  background-color: unset;
}
.checkbox input[type="checkbox"]:checked + label:before {
  background-color: $primary;
}
.checkbox label:after {
  content: '';
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  border: 2px solid $secondary;
  border-radius: 50%;
  display: none;
  left: 1px;
  top: 2px;
}
.checkbox input[type="checkbox"]:checked + label:after {
  display: block;
}

// notes
.crossCheckbox {
  position: relative;
  width: 20px;

}

.crossCheckbox input[type="checkbox"] {
  display: none; /* Cacher la checkbox par défaut */
}
.crossCheckbox input[type="checkbox"] + label::before, .crossCheckbox input[type="checkbox"] + label::after {
  content: '';
  display: inline-block;
  width: 20px; /* Taille de la croix */
  height: 3px; /* Taille de la croix */
  border-radius: 5px;
  background-color: $primary;
  position: absolute;
}
.crossCheckbox input[type="checkbox"] + label::before {
  transform: rotate(45deg); /* Rotation de la croix */
}
.crossCheckbox input[type="checkbox"] + label::after {
  transform: rotate(-45deg); /* Rotation de la croix */
}

.crossCheckbox input[type="checkbox"]:hover + label::before,
.crossCheckbox input[type="checkbox"]:hover + label::after {
  background-color: $primaryBis;
}
.crossCheckbox input[type="checkbox"]:active + label::before,
.crossCheckbox input[type="checkbox"]:active + label::after {
  background-color: $secondary;
}