@import "../global/colors";
// Go
button {
  background: $red;
  color: $white;
  font-family: "Rubik Mono One", monospace;
    margin: 0; /* Réinitialise la marge */
    padding: 6px;
    border-radius: 10px;
    border: none;
    transition: all 0.25s ease;
}

button:hover {
  background: $purpleDark;
}

button:active {
  background: $purple;
}

// Switch
$switchBordure: 3px;

.switch {
  height: 30px;
  aspect-ratio: 9/5;
  background: $red;
  display: flex;
  margin: 20px 20px;
  align-self: flex-end;
  border: $switchBordure solid $red;
  border-radius: 50px;
  align-items: center;
  transform: translateX(0); /* Position initiale */

  .round {
    height: 90%;
    aspect-ratio: 1/1;
    background: aliceblue;
    border-radius: 50%;
    transition: transform 0.35s ease; /* Ajout de la transition */
    transform: translateX(0); /* Position initiale */
  }
  .round:hover {
    background: cornflowerblue;
  }
}

.selfRight .round {
  transform: translateX(calc(100% + $switchBordure));  /* + 3px correspond à la largeur de la bordure */
}

// Input
.rappel {
  background: $white;
  color: $red;
  font-family: "Noto Sans", Arial, sans-serif;
  padding: 3px 10px;
  border-radius: 10px;
  border: 3px solid rgba($red, 1);
  flex : 1;
}
.rappel:focus {
  outline: none; /* Supprime le contour bleu */
}
input[type="text"]::placeholder {
  color: $red;
}



// formulaire
.formulaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}