@import "../global/colors";
button {
  background: $red;
  color: $white;
  font-family: "Rubik Mono One", monospace;
    margin: 0; /* Réinitialise la marge */
    padding: 6px;
    border-radius: 10px;
    border: none;
    transition: all 0.25s ease;
}

button:hover {
  background: $purpleDark;
}

button:active {
  background: $purple;
}


// Input
.rappel {
  background: $white;
  color: $red;
  font-family: "Noto Sans", Arial, sans-serif;
  padding: 3px 10px;
  border-radius: 10px;
  border: 3px solid rgba($red, 1);
  flex : 1;
}

input[type="text"]::placeholder {
  color: $red;
}

// formulaire
.formulaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

// checkbox
.checkbox {
  margin-right: 5px;
}